openapi: 3.0.1
info:
  title: Compass Action Items Devices API
  version: '2023-05-30T22:28:43Z'
  description: HorizonIQ Compass REST API - manage bare metal and cloud infrastructure resources (servers, devices, managed firewalls, OS images, SSL certificates, billing, users, support cases, and action items) on the HorizonIQ (formerly INAP) Compass platform. Assembled from the per-endpoint OpenAPI fragments published at https://compass-horizoniq.readme.io/reference; operationIds and the documented Bearer securityScheme added by API Evangelist.
servers:
- url: https://api.compass.horizoniq.com/{basePath}
  variables:
    basePath:
      default: v1
security:
- bearerAuth: []
tags:
- name: Devices
  description: Endpoints related to devices
paths:
  /devices/{deviceUUID}:
    get:
      description: Retrieves a JSON object containing a single device by UUID.
      parameters:
      - description: The UUID of the device, can be retrieved from the device list endpoint.
        in: path
        name: deviceUUID
        required: true
        schema:
          type: string
      - description: Required with Compass API token.<br>Provide keyword **Bearer** and space before token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGetModel'
          description: 200 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: 404 response
      summary: Get Device
      tags:
      - Devices
      operationId: getDevicesByDeviceUUID
  /devices:
    get:
      description: Retrieves a JSON object containing a list of devices.
      parameters:
      - description: Object list sort direction.
        in: query
        name: direction
        schema:
          type: string
      - description: Limits the number of returned objects.
        in: query
        name: limit
        schema:
          type: string
      - description: Name of key on which to sort object list.
        in: query
        name: sortby
        schema:
          type: string
      - in: query
        name: filter
        schema:
          type: string
      - description: Designates the start index of the object list.
        in: query
        name: offset
        schema:
          type: string
      - description: Required with Compass API token.<br>Provide keyword **Bearer** and space before token.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListModel'
          description: 200 response
      summary: List Devices
      tags:
      - Devices
      operationId: getDevices
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
    DeviceGetModel:
      type: object
      properties:
        hostName:
          type: string
        serialNumber:
          type: string
        privateIp:
          type: string
        description:
          type: string
        publicIp:
          type: string
        model:
          type: string
        readOnlyFlag:
          type: string
        updatedDate:
          type: number
        uuid:
          type: string
        deviceId:
          type: string
        typs:
          type: string
        dc:
          type: string
    DeviceListModel:
      type: object
      properties:
        total:
          type: integer
        offset:
          type: integer
        values:
          type: array
          items:
            $ref: '#/components/schemas/DeviceGetModel'
        limit:
          type: integer
        sortBy:
          type: string
        direction:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token issued from the Compass portal (Profile > API Tokens). Sent as `Authorization: Bearer <token>`. See https://compass-horizoniq.readme.io/reference/authentication'
